* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  background-color: rgb(29, 148, 177);
}
.item {
  background-color: grey;
  border-radius: 20px;
}

.post {
  background-color: rgb(11, 112, 138);
  border-radius: 20px;
}
