* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #343a40;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: floralwhite;
}
.footeritem {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer a {
  color: rgb(255, 102, 0);
  text-decoration: none !important;
}
